/* Entire body section */
*{
    box-sizing: border-box;
    font-family: old english text;
    
 }
  
 /* Header section */
 header{
   position: fixed;
 }
 header{
   top: 0%;
   display: flex;
   justify-content: space-around;
   width: 100%;
   background-color:black ;
   color:silver;
}

/* end of Header section */

/* Body Section */
body{
   font-family: old english text;

}
 /* end of body section  */
section#home{
   height: 100vh;
   width: 100%;
}
 /* Starting of Section  */
 .relative-container{
   height: 100vh;
   width: 100%;
   right: auto;
   position: relative;
   display: flex;
   justify-content: space-between;
   font-size: xx-large;
   background-repeat: no-repeat;

 }
 

 /* navigation start here */
 nav{
   float: left;
   text-align: left;
   align-items: center;
   padding: 10px;
   border-radius: 25px;
   height: 450px;
   margin: 10px;
   border: solid gray;
 }
 div{
   align-items: center;
   height: 450px;
   border: 2px hidden gray;
 }
 
/* end of navigation bar */
/* navigation unordered list */
body header li a{
   text-decoration: none;
   padding: 15px;
   font-size: x-large;
   color: silver;
   list-style-type: none;
   text-decoration: none;
}

header li{
   display: inline;
   justify-content: space-between;
}
body header li  a:hover{
   color: white;
}
 
/* article section start here */
 article{
    text-align: left;
    padding: 10px;
    align-items:center;
    border-radius: 25px;
    height: 420px;
    float: right;
    margin: 10px;
    border: solid gray;
    }
 /* end of article section */

 

 /* footer section */

 /* end of footer section */
a{
   text-decoration: none;
   color:gray;
}
a:hover{
   text-decoration: none;
   color: blue;
}
 /* div header */
 div.header{
    /* background-color:black; */
    font-size: larger;
    color:aliceblue;
    justify-content: space-between;
    position: fixed;
    
 }
 div.left{
   float: left;
   width: 48%;
   height: 400px;
   align-items: center;
   font-size: large;
   font-family:old english text;
   justify-content: space-around;
}


 /* SPAN sectioN */
 span{
   color:darkred;
   text-transform:uppercase;
   }


   .background-image{
      position: fixed;
      width: 100%;
      height: 100vh;
      background-attachment: fixed;
    }

.cta {
	display: inline-block;
	padding: 10px 30px;
   	text-decoration: none;
	color:black;
	background-color: transparent;
	border: 2px solid darkred;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	/* transition: 0.3s ease; */
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: darkred;
}

   
#reference{
   background-image: url(https://www.corporatevision-news.com/wp-content/uploads/2020/11/cv.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   width: 100%;
   height: 600px;
   color: darkblue;
      font-size: xx-large;
      position: relative;
      text-align: left;
      float: left;
   }
footer{
   text-align: center;
   bottom: 0px;
   height: 100px;
   width: 100%;
}
footer h1:hover{
   color: darkred;
}
h1:hover{
   color: blue;
}

/* Secondary reference */

 .relative-container{
   height: 100vh;
   width: 100%;
   position: relative;
   display: flex;
   justify-content: space-between;
   font-size: xx-large;
 }
div.right{
   float: right;
   width: 48%;
   align-items:center;
   justify-content: space-around;
   height: 400px;
   font-size: larger;
   font-family: old english text;
}
